* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/weather-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.h1 {
  margin-bottom: 70px;
  color: #fff;
  background: linear-gradient(135deg, #00feba, #5b548a);
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.fore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.s {
  margin-left: 100px;
  margin-top: 70px;
}